<!-- modal -->
<div
  class="modal fade"
  id="modal-creacion-facturaPDF"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLongTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLongTitle"></h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: 80vh;">
        <iframe frameborder="0" id="contenedorFacturaPDF" style="width: 100vh; height: 70vh;"></iframe>
      </div>
    </div>
  </div>
</div>
