<div class="main-content hide" id="view-perfil">
  <!-- Topnav -->

  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Perfil de tienda</h6>
          </div>
        </div>
        <!-- Card stats -->
        <div class="row"></div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <!-- DATOS GENERALES DE FACTURA -->
      <div class="col-xl-10">
        <div class="card bg-white">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-black text-uppercase ls-1 mb-1">
                  Crear prefil de tienda
                </h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <form action="" id="form-perfil" class="col-5">
                <div class="form-group">
                  <input type="text" name="nombre" id="txtNombrePerfil" class="form-control form-control-alternative"
                    placeholder="Nombre de tienda" />
                </div>
                <div class="form-group">
                  <input type="text" name="direccion" id="txtDireccionPerfil" class="form-control form-control-alternative"
                    placeholder="Direcciòn" />
                </div>
                <div class="form-group">
                  <input type="text" name="telefono" id="txtTelefonoPerfil" class="form-control form-control-alternative"
                    placeholder="Telefono" />
                </div>
                <div class="form-group">
                  <input type="text" name="mensaje" id="txtMensajePerfil" class="form-control form-control-alternative form-control"
                    placeholder="Mensaje de pie de ticket" />
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">
                    Crear
                  </button>
                </div>
              </form>

              <div class="col-5">

                  <div class="form-group" style="margin:4px">
                    <div class="input-group input-group-alternative mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="font-weight: bold; color:#000;"><i class="">Nombre de tienda:</i></span>
                      </div>
                      <div class="text-sm form-control" id="nombrePerfil">DREAMS ANGEL SHOP</div>
                    </div>

                    <div class="input-group input-group-alternative mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="font-weight: bold; color:#000;"><i class="">Direccion:</i></span>
                      </div>
                      <div  class="text-sm form-control" id="direccionPerfil">Del hotel JONATHAN dos cuadras al norte</div>
                    </div>

                    <div class="input-group input-group-alternative mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="font-weight: bold; color:#000;"><i class="">Telefono:</i></span>
                      </div>
                      <div  class="text-sm form-control" id="telefonoPerfil"></div>
                    </div>

                    <div class="input-group input-group-alternative mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="font-weight: bold; color:#000;"><i class="">Mensaje:</i></span>
                      </div>
                      <div  class="text-sm form-control" id="mensajePerfil">Gracias por su compra</div>
                    </div>
                    <div class="form-group m-2">
                      <button class="btn btn-info btn-block" id="btnEditarPerfil">Editar</button>
                    </div>
                  </div>

                 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TABLA DE DETALLES DE FACTURA -->
    <div class="row"></div>

    <!-- Footer -->

  </div>
</div>