<div class="main-content hide" id="view-reportes">
  <!-- Topnav -->
  
  <!-- Header -->
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Reportes</h6>
          </div>
        </div>
        <!-- Card stats -->
        <div class="row"></div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <!-- DATOS GENERALES DE FACTURA -->
      <div class="col-xl-9">
        <div class="card bg-white">
          <div class="card-header bg-transparent">
            <div class="row align-items-center">
              <div class="col">
                <h6 class="text-black text-uppercase ls-1 mb-1">
                  Datos Generales de reportes
                </h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form action="" id="form-reporte-diario">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="date" name="" id="fecha-reporte-diario" class="form-control form-control-sm form-control-alternative" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <button class="btn btn-info btn-block btn-sm" style="top: 5px;">
                      Actualizar
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- TABLA DE DETALLES DE FACTURA -->
    <div class="row">
      <div class="col-md-10">
        <div class="card-header">
          <div class="col">
            <h6 class="text-black text-uppercase ls-1 mb-1"></h6>
          </div>
          <%- include('./navReportes.html') %>
        </div>
      </div>
    </div>

    <!-- Footer -->
   
  </div>
</div>